{
	"DataAccess": {
		"ConnectionString": {
			"Host": "%%db.postgresql.connection.host%%",
			"Port": "%%db.postgresql.connection.port%%",
			"DbName": "%%db.postgresql.connection.name%%",
			"User": "%%db.postgresql.auth.userid%%",
			"Password": "%%db.postgresql.auth.password%%"
		}
	}
}